
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<body background="{{ asset('video/slider-img1.jpg') }}">
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundle/css/reset.css">
    <link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/plugins.css">
    <link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/style.css">
    <link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/color.css">
    <!--=============== favicons ===============-->
    <div id="wrapper">
        <!--content -->
        <div class="content">
            <!--section -->
            <section id="sec1">
                <!-- container -->
                <div class="container">

                    <div class="profile-edit-header fl-wrap">
                        <h4>Authentification</h4>
                    </div>
                    <h1>  </h1>


                    <div class="profile-edit-container add-list-container">

                        <div class="custom-form">

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control"  autofocus="autofocus" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" autofocus="autofocus" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block" value="{{ 'security.login.submit'|trans }}" />

</form>
</body>

